[user]
	name = mpanarin
	email = mykhailopanarin@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
