[user]
	name = mpanarin
	email = m.panarin@mobilunity.com
[core]
	excludesfile = /home/panarinm/.gitignore_global
	editor = vim
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
