[BASIC]
additional-builtins=__class__
disable =
    fixme,
    logging-format-interpolation,
    logging-fstring-interpolation,
    missing-docstring,
    multiple-statements # Not actually allowed, but pylint thinks returning tuples is bad

good-names =
    _,      # Ignored assignment
    i,      # Iterations
    f,      # File handler, in context managers and decorators
    n,      # Quantity
    NS, ns  # Namespaces

signature-mutators = inject_adapter

[DESIGN]
attr-rgx=^[a-z_][a-z0-9_]{1,30}$
max-args=7
max-attributes=8
max-locals=16
max-returns=8
method-rgx=^[a-z_][a-z0-9_]{2,30}$
min-public-methods=0

[SIMILARITIES]
ignore-imports=yes
min-similarity-lines=8
